@import "./constant.scss";

.button {
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem;
  width: max-content;
  background-color: $myBlue;
  transition-duration: 0.5s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    opacity: 0;
  }
}
