@import "./constant.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.card {
  animation-name: fadeIn;
  animation-duration: 3s;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 10px -5px $light;
  border: 1px solid $myBlue;
}
